<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <title>Login Web</title>
</head>

<body>

    {{> navbar }}

    {{!-- <div class="main-content">
        <h2>Welcome to Modern Home</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel orci eget sem tristique porttitor.
            Aliquam vel lorem vitae mauris blandit euismod ut non nibh. Donec tempor, felis a faucibus volutpat, felis
            libero dignissim risus, eget tincidunt quam lacus ut ipsum.</p>
        <a href="#" class="btn">Learn More</a>
    </div>
    <footer>
        <p>Copyright &copy; 2023 Modern Home</p>
    </footer> --}}

    {{!-- <main>
        <div class="center">
            <a href="/login" class="button">Login</a>
            <a href="/register" class="button">Register</a>
        </div>
    </main> --}}
    <footer>
        <p>&copy; 2023 My Website. All rights reserved. - Anand Yadav</p>
    </footer>
</body>

</html>