<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style2.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h1>Welcome to My Website</h1>
        <a href="#" class="button">Get Started</a>
    </header>
    <main>
        <section class="features">
            <h2>Our Features</h2>
            <div class="feature">
                <i class="fa fa-rocket"></i>
                <h3>Fast Performance</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="feature">
                <i class="fa fa-users"></i>
                <h3>User-Friendly</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="feature">
                <i class="fa fa-cogs"></i>
                <h3>Flexible Configuration</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
                <a href="#" class="button">Learn More</a>
            </div>
        </section>
        <section class="call-to-action">
            <h2>Ready to Get Started?</h2>
            <p>Sign up today to start using our services.</p>
            <a href="#" class="button">Sign Up</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer>
</body>

</html>